@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* header css starts */
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  /* background-color: white; */
  background-color: #000000;
  /* background: rgba(255, 255, 255, 0.1); */
  /* backdrop-filter: blur(15px); */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.brand {
  font-family: "Lilita One", sans-serif;
  font-size: 1.7rem;
}
.menu li ul {
  margin: 0px 5px;
  font-size: 14px;
}
.menu li ul a {
  /* color: black; */
  color: white;
  font-family: "Outfit", sans-serif;
}
.menu li ul:hover {
  transform: translateY(-2px);
  border-bottom: 2px solid orange;
}
.btnConatiner a {
  font-size: 14px;
  color: white;
}
.logReg{
  align-items: center;
}
.profilePic{
  border-radius: 50%;
}
.profilePic img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: white; */
  background-color: #222245;
  min-width: 120px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}
.dropdown-content a {
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
}
.dropdown-content a:hover {
  background-color: #333365;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/** Text Gradient Example */ 
.text-gradient {
  color: #FF671F; 
  background-image: linear-gradient(90deg, #FF671F 17%, #ffffff 49%, #00c665 76%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
 }

/* header css end */
